In [1]:
result = [i for i in range(4)]
print(result)

[0, 1, 2, 3]

In [3]:
print([ i**2 for i in range(5)])

[0, 1, 4, 9, 16]

**With condition**

If

In [5]:
print([i for i in range(10) if i%2 == 0])

[0, 2, 4, 6, 8]

In [6]:
print([i for i in range(10) if i>5])

[6, 7, 8, 9]

if else

In [7]:
print([i if i%2==0 else 0 for i in range(10)])

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0]

More Examples

In [11]:
words = ['apple', 'banana', 'cherry']
print([i.upper() for i in words])

['APPLE', 'BANANA', 'CHERRY']

In [12]:
print([len(i) for i in words])

[5, 6, 6]

In [14]:
color = ["red", "yellow", "red"]
print([(c,f) for c in color for f in words])

[('red', 'apple'), ('red', 'banana'), ('red', 'cherry'), ('yellow', 'apple'), ('yellow', 'banana'), ('yellow', 'cherry'), ('red', 'apple'), ('red', 'banana'), ('red', 'cherry')]

1. Create a list of cubes for numbers 1 to 10.

In [15]:
print([i**3 for i in range(1,11)])

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

2.From a list of strings, get only those that start with a vowel.

In [20]:
words = ['apple', 'banana', 'cherry']

print([word for word in words if word[0] in ['a','e','i','o','u']])

['apple']

3. Replace negative numbers in a list with 0.

In [22]:
a = [1, 30 , -30 , 47 , -3 , -5]
print([i if i > 0 else 0 for i in a])

[1, 30, 0, 47, 0, 0]

Nested

In [23]:
[(i, j) for i in range(3) for j in range(2)]

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

Nested list

In [24]:
# flatten 2D List

In [25]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flattened = [ num for row in matrix for num in row]

print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
#transpose
matrix = [[1, 2, 3], [4, 5, 6]]
transpose = [[row[i] for row in matrix] for i in range(3)]

print(transpose)

[[1, 4], [2, 5], [3, 6]]

1. Generate a 5x5 matrix filled with zeros.

In [37]:
matrix = [[0 for row in range(5)] for i in range(5) ]
print(matrix)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

2. Create a list of pairs where the sum of numbers is even:

In [41]:
print([(i,j) for i in range(1,4) for j in range(1,5) if (i + j) % 2 == 0])

[(1, 1), (1, 3), (2, 2), (2, 4), (3, 1), (3, 3)]

Reverse each word in a list

In [42]:
words = ['apple', 'banana', 'cherry']
print([word[::-1] for word in words])

['elppa', 'ananab', 'yrrehc']

Get all numbers divisible by both 3 and 5 from 1 to 100

In [43]:
print([x for x in range(1,101) if x % 3 == 0 and x % 5 == 0])

[15, 30, 45, 60, 75, 90]

Get all the palindromes from the list

In [45]:
words = ['level', 'radar', 'world', 'madam', 'python']
print([i for i in words if i == i[::-1]])

['level', 'radar', 'madam']

Prime numbers

In [49]:
Primes = [n for n in range(2,51) if all(n % d != 0 for d in range(2,int(n/2)+ 1))]
print(Primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]